@CHARSET "ISO-8859-1";
/* 
@author dashok
this file styles the returned result from user functions */

#resultdiv {

    /* fixed within viewport */
    position: fixed;
    top: 200px;
    left: 30px;
   


    /* must have dimension */
    width: 700px;
    height: 300px;
    background-color: #2C3E50;
    border: 2px solid black;
}